<configuration>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{25} [LN: %L] - %msg%n"/>
        </Console>
        <!-- add more appenders here like FileAppender, RollingFileAppender, etc -->
    </appenders>

    <loggers>
        <root level="all">
            <AppenderRef ref="console"/>
            <!-- Add more appenders as needed -->
        </root>
    </loggers>
</configuration>